{% for product in products %}
<tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>
        {% if product.in_stock %}
            in stock
        {% else %}
            out of stock
        {% endif %}
    </td>
    <td>
        <!-- DELETE request to delete product -->
        <!-- confirmation for the deletion -->
        <!-- target the closest table row -->
        <!-- remove the row from the DOM when deleted -->
        <button
            class="btn"
            hx-delete="/products/{{ product.name }}"
            hx-confirm="Are you sure?"
            hx-target="closest tr"
            hx-swap="delete"
        >
            Delete
        </button>
    </td>
</tr>
{% endfor %}
