<tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>
        {% if product.in_stock %}
            in stock
        {% else %}
            out of stock
        {% endif %}
    </td>
    <td>
        <button
            hx-delete="/products/{{ product.name }}"  # DELETE request to delete product 
            hx-confirm="Are you sure?"                # confirmation for the deletion
            hx-target="closest tr"                     # target the closest table row  
            hx-swap="delete"                            #  FIXED*** remove the row from the DOM when we deleted we didnt remove it 
        >
            Delete
        </button>
    </td>
</tr>